@import url(reset.css);
.heading {
color: blue;
}
h2 {
	color: brown;
}
.navigation {
color: blueviolet;
}
#h3-1 {
	color: chartreuse;
}
#h3-2,
#h3-3,
#h3-4,
#h3-5,
#h3-6,
#h3-7 {
	color: crimson;
}
.subtitle p {
	color: goldenrod;
}
div.paragraf1 {
	color: darkturquoise;
}
.lesson.text {
	color: deeppink;
}
.paragraf5 .text {
	color: cornflowerblue;
}
.list-of-films *{
	color: darkblue;
}
.paragraf7 > p{
	color: yellow;
}
.paragraf7 ~ p {
	color: blue;
}
.main + div {
	color: cyan;
}